* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(75, 75, 75);
}
.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 calc(33.333% - 20px);
    margin: 10px;
    background: radial-gradient(#e18174, #d15746);
    height: 45%;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    cursor: pointer;
}
.pad img {
    width: 150px;
}
.pad p {
    font-size: 0.8em;
    color: white;
}
